# Get your KEY https://admin.moralis.io/web3apis
MORALIS_API_KEY=''
# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/64
NEXTAUTH_SECRET=''
# replace for production
NEXTAUTH_URL='http://localhost:3000'
NEXT_PUBLIC_USER_INTERFACE=0x1C5a4E5345E81db66EF3D739f7702DFb76a758b8